  <table class="table table-bordered">
    <tr>
      <td>
        <% if @office.rent? %>
            <div class="text-center"><strong><%= number_to_currency(@office.rent, :locale => 'en_us', :precision => 0) %></strong></div>
        <% else %>
            <div class="text-center"><strong>--</strong></div>
        <% end %>
        <div class="text-center"><small>per month</small></div>
      </td>
      <td>
        <% if @office.size? %>
            <div class="text-center"><strong><%= @office.size %></strong></div>
        <% else %>
            <div class="text-center"><strong>--</strong></div>
        <% end %>
        <div class="text-center"><small>sq. ft</small></div>
      </td>
      <td>
        <div class="text-center"><strong><%= pluralize(@office.min_lease, 'Month') %></strong></div>
        <div class="text-center"><small>Minimum Lease</small></div>
      </td>
    </tr>
  </table>

  <% if false %>   <!-- hide accomodates -->
      <% if @office.accomodate? %>
          <div class="officeicon accomodates"></div>
          <%= @office.accomodate %>
          <span class="text-right"><% if @office.accomodate == 1 %>person<% else %>people <% end %></span>
      <% end %>
  <% end %>

