
<p class="text-left">
    <span class="pull-left">
    <% if @office.size? %>
        <div class="officeicon size"></div>
        <%= @office.size %> sq. ft &nbsp;
    <% end %>

  <% if @office.type_office==1 %><i class="icon-building orange"></i> private office/ desk &nbsp;<% end %>
  <% if @office.type_office==2 %><i class="icon-lightbulb orange"></i> design/ creative space &nbsp;<% end %>
  <% if @office.type_office==3 %><i class="icon-user-md orange"></i> counseling/ therapy office &nbsp;<% end %>
  <% if @office.type_office==4 %><i class="icon-male orange"></i> treatment/ bodywork room &nbsp;<% end %>

  </span>
</p>
