<div class="container-narrow">
  <div class="row">
      <div class="span3">
          <%= image_tag office.image1_url.to_s, :style => "height:100px; width:200px;"%>
      </div>
  </div>
  <div class="row">

    <div class="span3">
          <%= link_to  office.title, office_path(office) %>
    </div>
  </div>

</div><!-- /.container -->




