<div class="container-narrow">
  <div class="row">
      <div class="span2">
        <% if (office.office_images.first != nil) %>
            <a href= "<%= office_path(office)  %>" >
                <!--%= cl_image_tag office.office_images, :width => 90, :height => 90, :crop => :thumb)-->
                <%= cl_image_tag(office.office_images.first.path, :size => '100x75', :crop => :fit) %>
            </a>
        <% else %>
                <%= image_tag "small_default-studio.png" %>
        <% end %>

      </div>
  </div>
  <div class="row">

    <div class="span2">
          <p><%= link_to  office.title, office_path(office) %></p>
    </div>
  </div>

</div><!-- /.container -->



