<div class="align-center reserve_thankyou">
      <h3>Your request to contact the host has been sent!</h3>
  <div class="panel panel-border">
      <div class="container reserve_thankyou_subheading">
        <p>What happens next?</p>
      </div>
      <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883%2F314424%2Fsg81ya2q3wdwxbz%2F1_2_3_steps.png">
      <div class="row-fluid steps_reserve">
        <div class="span1"></div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883%2F314424%2Ft3lj5sg91hb9or0%2Ficon_email.png">
          <p>The host will receive an email from us letting them know you are interested
            in renting this space</p>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/maviyw2b4j8nufw/icon_conversation.png">
          <p>The host will contact you directly with any additional questions and also
            answer any questions you may have.</p>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883%2F314424%2Fv0fb56zaknqgejc%2Ficon_handshake.png">
          <p>Move in! Congrats - your business has a new home!</p>
        </div>
      </div>
  </div>
</div>

