<style>
#galleria{ width: 700px; height: 550px; background: #000; }
</style>


<div class="container">


  <div class="row">
    <div class="offset1 span7 officetitle">
      Private office + conference room
    </div>
    <div class="offset1 span3 officecost">
      $500/month
    </div>
  </div>


  <div class="row">
    <div class="offset8 span4 officelocation">
      2 people . Office space. 250 sq. ft.
    </div>
  </div>


  <div class="row">
    <div class="offset1 span7" id="galleria">
      <img src=<%=@office.image1_url.to_s%> /img>
      <img src=<%=@office.image1_url.to_s%> /img>
    </div>
    <div class="span3">
      <div class="row officereserve ">
        <div class="span12 text-align:center">
          <%= button_to "Reserve this space", {:action => "reserve"}, {:class => "l_button btn btn-large btn-warning"} %>     
        </div>
      </div>
    </div>
  </div>

      <div class="row officehost">
        About the host
      </div>

      <div class="row officehostphoto">

      </div>

    </div>


  <div class="row">
    <div class="span12">
      Map area
    </div>
  </div>

</div>


<script>

function galleria(){
//alert ("YOO");
 //Galleria.loadTheme('galleria/themes/classic/galleria.classic.js');
 Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
 if (Galleria) { 
  //$("body").text('*************Galleria works');
  //alert("TYio");
  Galleria.run('#galleria');
}
}
galleria();
</script>

