<!-- Modal -->
<div id="thank-you-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Your message has been sent!</h3>
  </div>

  <div class="modal-body">
   
   <p><b><i>What happens next?</i></b></p>
   <p>The host will contact you directly to talk details and answer any questions you may have.</p>
   <p>Thanks for using Intuit Spaces!</p>

  </div>
  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">CLOSE</button>
  </div>
</div>

