<div class="container-narrow">

<h2>Update your listing</h2>

<hr>

<%= render 'form' %>

<%= link_to 'View', @listing %> |
<%= link_to 'Back', listings_path %>

<hr>

<%= link_to "View All", listings_path, class: "btn btn-medium" %>

</div>