<div class="row-fluid alerts-container">
  <div class="span6 offset2">
   	<div class="featured alerts">Get Space Alerts</div>
   	<br>We'll send you email updates on listings based on your criteria</br>
   	<!-- Button to trigger modal -->
	<a href="#addAlert" role="button" class="btn btn-large btn-primary alert-btn" data-toggle="modal">CREATE ALERT</a>

  </div>
  <%= image_tag "tw/icon_alert_150x139.png"%>

</div>

<%= render 'alerts/form' %>