
<div class="hero-bg paperpanel">

  <div class="row">
    <div class="span12">
      
      <!-- search box-->
      <div class="row">
        <div class="span10 offset1">

           <div class="row spacebottom fromtop">
                  <%= form_tag(listings_path, :method => "get") do %>     
                      <span>
                        <%= text_field_tag 'city', "", :class=> "l_input", :style => "margin-left:40px; margin-bottom: 5px; height:30px; width:600px;", :placeholder => "Enter an Address, City, or Zip" %>
                      </span>
                       <span><%= submit_tag "SEARCH", :class => "l_button btn btn-large btn-primary", style: "height:43px; margin-left:7px;", :id => "searchBtn" %></span>
                  <%end%>
              </div>
          <div class="l_search">

              <div class="row spacetop spacebottom">
                <div class="span4">
                  <span class="leftgap label l_text">Find a space to work</span>
                </div>
              </div>
               

          </div>
        </div>
      </div> <!-- end search box-->

    </div>
  </div> <!-- row-->
</div>