<div class="featured">We make it easy for you to share and find office space</div>

<div class="row-fluid home-container">
  <div class="span6">

    <div class="row-fluid about-container">
      <div class="span3"><%= image_tag "tw/icon_offices_110x93.png"%></div>
      <div class="span9 about-txt">
        <h4>Find a better place to work</h4>
        <p>We'll help you locate office space that's right for your small business, right where you want to be.</p>
      </div>
    </div>

    <div class="row-fluid about-container">
      <div class="span3"><%= image_tag "tw/icon_pie_110x93.png"%></div>
      <div class="span9 about-txt">
        <h4>Listing your space is as easy as pie</h4>
        <p>From the makers of Quickbooks and TurboTax, we'll surprise you with how easy and quickly you can get your space listed - for free. </p>
      </div>
    </div>

    <div class="row-fluid about-container">
      <div class="span3"><%= image_tag "tw/icon_handshake_110x93.png"%></div>
      <div class="span9 about-txt">
        <h4>Reliable & trustworthy connections</h4>
        <p>We connect you only with reliable and trustworthy professionals through LinkedIn. </p>
      </div>
    </div>

  </div>

  <div class="span6">
    <div class="pull-right">
      <iframe width="430" height="242" src="http://www.youtube.com/embed/4PVtWH7phk0?rel=0" frameborder="0" allowfullscreen></iframe>
      <p style="font-size: 14px; color: #0098cd; text-align: center"><a href="http://www.youtube.com/embed/4PVtWH7phk0?rel=0" target="_blank">Watch an overview of Intuit Spaces (00:49)</a></p>   
    </div>
  </div>
</div>