  <div class="row">
    <h3 class="align-center aboutus_heading">
      <span style="font-weight: normal;">Hello! Meet the Intuit Spaces team.</span>
    </h3>
  </div>


  <div class="panel panel-border paperpanel">
    <div class="row">
      <div class="span7">
        <p>
          <b>About us</b>
          <br>
          <br> Intuit Spaces creates a safe and effective environment for businesses
          to share and find office space. Whether you're trying to fill your extra
          space, or looking for office space of your own, we make it easy for you
          to work with people you can trust.
          <br>
          <br>
          <b>About the team<br></b>
          <br> We're a team of 3 developers in Mountain View, CA. Stop by and
          <a href="mailto:spaces@intuit.com">say hi</a> !</p>
        <br>

        <div class="row ">
          <div class="span2">
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/qlqwxq6b8astu97/manish.jpg">
          </div>
          <div class="span5">
            <p>
              <b>Manish Shah, Customer Developer<br></b>
              <br> Manish focuses on creating awareness and customer satisfaction. Also,
              enjoys climbing mountain and playing cricket with his son.</p>
          </div>
        </div>
        <p></p>
        <div class="row">
          <div class="span2">
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/tqyykg66fw77d1p/kaushik.jpg">
          </div>
          <div class="span5">
            <p>
              <b>Kaushik Ghosh, Product Developer<br></b>
              <br> Kaushik loves technology and finds creative ways to solve our customer
              problems.</p>
          </div>
        </div>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <div class="row">
          <div class="span2">
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/jv7tw65f9eg3lum/vicky.jpg">
          </div>
          <div class="span5">
            <p>
              <b>Vicky Chan, Experience Designer<br></b>
              <br> Vicky makes the experience of finding and sharing offices delightful.</p>
          </div>
        </div>
      </div>
      <div class="contact_section span4">
        <div class="well well-small" style="width:240px;">
          <h5 class="align-center">More ways to get to know us</h5>
        </div>
        <ul class="unstyled">
          <li>
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/exovvpc26etcptp/icon_phone_16x16.png"
                 class="pull-left img-rounded"> &nbsp; &nbsp; Call us at 1 (855) SPK-2-SPACES</li>
          <li>
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/1ihs6zyiikeam9p/icon_email_16x16.png"
                 class="pull-left img-rounded"> &nbsp; &nbsp; Send us a note at
            <a href="mailto:spaces@intuit.com">spaces@intuit.com</a>
          </li>
          <li>
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/ibhvzf2ae9ci7ar/icon_blog_29x16.png"
                 class="pull-left img-rounded"> &nbsp;Follow our
            <a href="/blog">Blog</a>
          </li>
        </ul>
        <ul></ul>
      </div>
    </div>
  <div>

 </div>
</div>
