<div class="align-center reserve_thankyou">
      <h3>Yay! Your listing has been posted.</h3>

  <div class="panel panel-border">

      <!--p>See your <#%= link_to 'LISTING', office_url(@office) %> </p-->
      <div class="container reserve_thankyou_subheading">
        <p>What happens next?</p>
      </div>
      <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883%2F314424%2Fsg81ya2q3wdwxbz%2F1_2_3_steps.png">
      <div class="row-fluid steps_reserve">
        <div class="span1"></div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883%2F314424%2Ft3lj5sg91hb9or0%2Ficon_email.png">
          <p>The host will receive an email from us containing a link to your listing
            and how to edit your listing.</p>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883%2F314424%2Fhbobpfkfwqjg59n%2Ficon_ppl.png">
          <p>Sit back, relax, and let the renters come to you. We'll send you an email
            when an interested party wants to rent your space.</p>
        </div>
        <div class="span3">
          <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883%2F314424%2F33f1rymif4bzuib%2Ficon_profile.png">
          <p>In the email, you can view the interested renter's profile and decide
            to Accept or Deny the request.</p>
        </div>
      </div>

  </div>

</div>
