
<div class="container" style="position:relative">
  <div class="hero-bg" style="background-image:url(http://localhost:3000/assets/tw/hero_image.jpeg); width:1200px; height:442px;background-size: 100%;"> </div>
        <div class="l_search" style="position:absolute;left:100px; top:300px;">
          <div class="row">
            <div class="offset1 span6">
              <span class="label l_text">Find a space to work</span>
            </div>
            <div class="span5"></div>
          </div>
          <div class="row">
            <div class="offset1 span6">
              <input type="text" class="l_input" placeholder="enter a city"></textarea>
            </div>
              <div class="span3"> 
              <button class="l_button btn btn-primary" type="button">Search</button>
            </div>
            <div class="span2"> </div>
            </div>
          </div>
</div> <!-- /container -->
