<!--script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry,places"></script-->

<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE">
</script>

<!--script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&client=gme-intuitinc&channel=fms.spaces">
</script-->

<%= render 'landing_pages/search' %>

<div class="features paperpanel">
  <div class="container-fluid">
    <div class = "row-fluid">

      <div class="featured">Work in these unique spaces</div>
      <%= render 'landing_pages/carousel' %>
      <hr>
  
      <div class="featured">We make it easy for businesses to share and find office space</div>
      <%= render 'landing_pages/video' %>       
      <hr>
  
    </div>

    <%= render 'landing_pages/footer' %>    

  </div>   <!-- white features panel -->

</div>

<script type="text/javascript">

$(document).ready (function() {
    var input = document.getElementById('city');
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.setTypes(['geocode']);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {

        //$("#search input[type='submit']").click();
        $("#searchBtn").click();
    });

});

</script>