<div class="container" style="position:relative">
  <div class="row">
  <div class="hero-bg"></div>
  </div>
  <!-- search box-->
  <div class="l_search" style="position:absolute;left:200px; top:200px;">

    <div class="row">
      <div class="leftgap span6">
        <span class="label l_text">Find a space to work</span>
      </div>
    </div>

    <div class="row">
      <div class="leftgap span5">
        <input type="text" class="l_input" placeholder="Enter a city">
      </div>

      <div class="span2">
        <%= button_to "SEARCH", {:action => "listings"}, {:class => "l_button btn btn-large btn-primary"} %>
      </div>
    </div>

    <!-- /search -->
  </div>


  <div class="row" style="padding-top:40px; padding-bottom: 40px; background: #ffffff;">
    <div class="span4">
        <%= image_tag("icon_home_floorplan.png", alt: "icon home") %>
        <h4>Make your office pay for itself</h4>
            Earn extra money by renting out your extra office space. No listing or membership fees.
    </div>

    <div class="span4">

        <%= image_tag("icon_home_pie.png", alt: "icon pie") %>
        <h4>Listing your space is as easy as pie </h4>
        From the makers of QuickBooks and TurboTax - not only do we make accounting and tax preparation easier for you,
        we'll make it easy for you to earn extra money with your extra income.

      </div>

    <div class="span4">

        <%= image_tag("icon_home_handshake.png", alt: "icon handshake") %>
        <h4>Reliable & trustworthy connections</h4>
        No SPAN and No SCAM ! Only interact with trusted and reliable professionals and entreprenuers like yourself.

    </div>
  </div>



</div> <!-- /container -->
