<div class="container" style="position:relative">

  <div class="hero-bg"></div>

  <!-- search box-->
  <div class="l_search" style="position:absolute;left:200px; top:200px;">

    <div class="row">
      <div class="leftgap span6">
        <span class="label l_text">Find a space to work</span>
      </div>
    </div>

    <div class="row">
      <div class="leftgap span5">
        <input type="text" class="l_input" placeholder="Enter a city">
      </div>

      <div class="span2">
        <!--%= link_to "SEARCH", offices_path, :class=>"btn btn-large btn-primary btn-inverse btn-call-to-action input-block-level" %-->
        <%= button_to "SEARCH", {:action => "listings"}, {:class => "l_button btn btn-large btn-primary"} %>
      </div>
    </div>

    <!-- /search -->
  </div>

  <div class="row" style="padding-top:40px; background-color: #ffffff; ">
    <div class="span12">
      <h2>Why list your office on Tradewinz?</h2>
    </div>
  </div>

  <div class="row" style="padding-bottom: 40px; background-color: #ffffff; ">
    <div class="span4">
      <div class="span2 offset1"> <%= image_tag("icon-free.png", alt: "icon free") %></div>
      <div class="span3">
        <h4>Make your office pay for itself</h4>
            Earn extra money by renting out your extra office space. No listing or membership fees.
      </div>
    </div>

    <div class="span4">
      <div class="span2 offset1"> <%= image_tag("icon-screen.png", alt: "icon screen") %></div>
      <div class="span3">
        <h4>Listing your space is super easy </h4>
        Listing your space is as easy as posting your profile on match.com !
      </div>
    </div>

    <div class="span4">
      <div class="span2 offset1"> <%= image_tag("icon-free.png", alt: "icon free") %></div>
      <div class="span3">
        <h4>Reliable and Trustworthy connections</h4>
        No SPAN and No SCAM ! Only interact with pre-screened QuickBooks(c) small business owners who are professionals and entreprenuers like yourself.
      </div>
    </div>
  </div>

    <!--
    <div class="row l_fpo">
      <div class="span4">
        <div class="offset3 fpo1"> Yo </div>
      </div>

      <div class="span4">
        <div class="offset3 fpo1"> Yo </div>
      </div>

      <div class="span4">
        <div class="offset3 fpo1"> Yo </div>
      </div>
    </div>
    -->

</div> <!-- /container -->
