
<div class="container" style="position:relative">
  <div class="hero-bg" style="background-image:url(http://localhost:3000/assets/tw/hero_image.jpeg); width:940px; height:442px;background-size: 100%;"> </div>
  <div class="l_search" style="position:absolute;left:70px; top:250px;">
    <div class="row">
      <div class="offset1 span6">
        <span class="label l_text">Find a space to work</span>
      </div>
      <div class="span5"></div>
    </div>
    <div class="row l_inputrow">
      <div class="offset1 span6">
        <input type="text" class="l_input" placeholder="enter a city"></input>
      </div>
      <div class="span2"> 
        <button class="l_button btn btn-primary" type="button">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="row l_fpo">
  <div class="span4">
    <div class="offset3 fpo1"> Yo </div>
  </div>

  <div class="span4">
    <div class="offset3 fpo1"> Yo </div>
  </div>
  <div class="span4">
    <div class="offset3 fpo1"> Yo </div>
  </div>
</div>
