<div class="container">

  <div class="row padtopsmall" >
    <div class="span5">
      <input type="text" class="l_input" placeholder="Enter a city">
    </div>
    <div class="span2">
      <%= link_to "SEARCH", listings_path, :class => "l_button btn btn-primary" %>
      <!--%= button_to "SEARCH", :action => "listings", :class => "btn btn-primary", :method=>"GET" %-->
    </div>
    <div class="offset2 span3">
      <div class="btn-group" data-toggle="buttons-radio">
        <%= link_to "Map View", maps_path, class: "btn btn-medium" %>
        <%= link_to "Grid View", listings_path, class: "btn btn-medium" %>
      </div>
    </div>
  </div>

<div class ="row padtopsmall">

  <div class="span12">
  <%= gmaps("markers" => {"data" => @json},
            "map_options" =>  { "provider" => "google", "provider_key" => "AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE" }
      )
  %>

  </div>
</div>

</div>