<div class="container-narrow">

<h2>Update your Profile</h2>

<hr>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<hr>

<%= link_to "View All", users_path, class: "btn btn-medium" %>

</div>