<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Thank you for signing up for alerts!</title>
</head>

<body style ="background-color: #ece6e0;
          background-image: url('http://spaces.intuit.com/assets/background_small.png');
          background-repeat: repeat;">

<table background="http://spaces.intuit.com/assets/background_small.png" id="wrapper" width="100%">
  <tr><td>&nbsp;
  </td></tr>
  <tr><td>

<table width="600px" align="center" bgcolor="#FFF" style="border: 1px solid #C2BDB3;">
  <tr>
    <td><table width="540px" border="0" align="center" cellpadding="0" cellspacing="0">

      <tr>
        <td height="80" style="font-family: Arial, Helvetica, sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: lighter;
          color: #bbbbbb;
          text-decoration: none;"><%=@alert.city%> alerts</td>
        <td style="font-family: Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: lighter;
          color: #bbbbbb;
          text-decoration: none;">&nbsp;</td>
        <td width="160">
          <a href="<%= home_url %>" >
            <img src="http://spaces.intuit.com/assets/logo_intuit_spaces.gif" alt="Intuit Spaces" width="140" height="26" align="right" />
            <!--%= image_tag "logo_intuit_spaces.gif", :size => "140x26", :alt => "Intuit Spaces" %-->
          </a>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="1" height="1" bgcolor="#C2BDB3"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="540px" border="0" align="center" cellpadding="0" cellspacing="0">

      <tr>
        <td colspan="2"><p>Hello,</p>
<p></strong>Thank you for signing up for alerts!</strong> We will be sure to send you an email when a host adds a space in <%=@alert.city%>.</p>

<p>Cheers,
<br>The Intuit Spaces team</p>
 
          <p>P.S. Questions or concerns about Intuit Spaces? Email us at <a href="mailto:spaces@intuit.com?subject=Inquiry">spaces@intuit.com</a></p></td>
      </tr>
    </table>
      <p>&nbsp;</p></td>
  </tr>
</table>

<p style="font-size: 12px;
          color: #999995;
          text-align: center;"><%= link_to 'Unsubscribe from ' + @alert.city + ' alerts', unsubscribe_alert_url(@alert) %>
<br>© 2013, Intuit, Inc. 2632 Marine Way, Mountain View, CA 94043</p>

<<<<<<< HEAD
</td></tr></table>
=======
</tr></table>
>>>>>>> 180a1aed7406f63dbcf692d4add5a13be0796c93

</body>
</html>
