

 body{
 background-image: url('tw/background.png');
 margin: 0;
 background-size: 1594px 1200px;
 background-repeat:no-repeat;
 display: compact;

 }


 .hero-bg{
 background-image: url('tw/hero_image.jpeg');
 margin: 0;
 background-size: 1594px 1200px;
 background-repeat:no-repeat;
 display: compact;

 }

$lightbox: #FFFFFF;
$fpobg: #baafa4;

 .l_search {
background-color: $lightbox;
opacity: 0.7;
width: 700px;

 }

 .l_text {
 font-family: "Helvetica Neue Bold"; 
 font-size: 30px;
 color: black;
 text-shadow:#FFFFFF;
 background-color: $lightbox;
 margin-top: 10px;
 margin-bottom: 10px;

 }
 .l_button {

 width: 100%;
 }

 .l_input {
 width: 100%;

 }

 .l_fpo {
 background-color: $fpobg;
 }