
$lightbox: #FFFFFF;
$fpobg: #baafa4;

.wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

body{
 background-image: url('tw/background.png');
 margin: 0;
 background-size: 1594px 1200px;
 background-repeat:repeat;
 display: compact;

 }

 .hero-bg{
 background-image: url('tw/hero_image.jpg');
 margin: 0;
 height:442px;
 background-size: 100%;
 background-repeat:no-repeat;
 display: compact;
 }

 .leftgap {
   padding-left: 20px;
   padding-top: 10px;
 }


 .l_search {
  background-color: $lightbox;
  border-radius: 10px;
  opacity: 0.8;
  width: 700px;
 }

 .l_text {
   font-family: "Helvetica Neue Bold";
   font-size: 30px;
   color: black;
   text-shadow:#FFFFFF;
   background-color: $lightbox;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .l_button {
  width: 100%;
  opacity: 1;
 }

 .l_input {
  width: 100%;
  opacity: 1;
 }

 .l_fpo {
  background-color: $fpobg;
 }