// Place all the styles related to the Offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  padding-top:20px;
  padding-bottom: 20px;
  padding-left:18px;
  margin-top: 15px;
  margin-left: -20px;
  margin-right: -20px;
  padding-right: 18px;
  background-color: #ffffff;
}

.panel-background-well {
    background-color: #FAFAFA;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
    padding: 0;
}   

.panel-border {
    -moz-box-sizing: border-box;
    border: 1px solid #baafa4;
    border-radius: 5px 5px 5px 5px;
}

.panel-header-gray {
  background-color: #E5E5E5;
  background-image: -moz-linear-gradient(center top , #F6F6F6 0%, #E5E5E5 100%);
  border-bottom: 1px solid #D0D0D0;
  border-top: 1px solid #D0D0D0;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2), 0 0 0 #000000;
  padding: 5px 15px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.reserve-btn {
  width: 189px;
  height: 44px;
  background-image: url('btn/btn_contact_host_NORMAL.png');
  background-repeat:no-repeat;
  display: inline-block;
  border-color: #f3c81d #f6cd08 #d2aa0b #f6cd08;
  color: #393c3d;
  text-shadow: 0 1px 0px rgba(255,255,255,0.3);
  -webkit-box-shadow: 0 0 0 #000,0 0 0 #000;
  box-shadow: 0 0 0 #000,0 0 0 #000;

}


.reserve-btn:hover {
  background-image: url('btn/btn_contact_host_HOVER.png');
}

.fitinblock {
  display: block;
}

.padtop {
    padding-top: 30px;
}

.padbottom {
  padding-bottom: 30px;
}

.control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
  font-weight: bold;
}

.controls {
    margin-left: 160px;
}

textarea {
    height: 80px;
    resize: none;
    width: 400px;
}

.submit-wrapper {
    padding: 15px 0 0;
}

.search_result {
    border-bottom: 1px solid #D8D8D8;
    padding: 10px 0px;
    position: relative;
}

li {
    line-height: 18px;
}

a {
    color: #1D95CB;
    text-decoration: none;
}



.officetitle {
    font-family: "Helvetica Neue Regular", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 35px;
    color: #333333;

}

.officecost {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    color: #333333;

}

text-right{
  text-align: right;
}

.officelocation {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
   color: #505050;
}

.officeamenities {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #505050;

}

officedetailstitle  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

officedetailstext  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #505050;

}

.officereserve {
 -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  foreground-color: orange;
  background-color: white ;
  //float:none;
  // margin:0 auto;
}

// Icons
//:TODO fix using sprite

.officecenter {
}

.officeicon {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  margin-top: 1px;
}

.text-gray {
  color: #C0C0C0;
}

.office {
  background-image: url('tw/icon_office.png');
}

.meeting {
  background-image: url('tw/icon_meetingroom.png');
}

.desk {
  background-image: url('tw/icon_desk.png');
}

.size {
  background-image: url('tw/icon_sqft.png');
}

.accomodates {
  background-image: url('tw/icon_accomodates.png');
}

.industry {
  background-image: url('tw/icon_profile_industry.png');
}

.experience {
  background-image: url('tw/icon_profile_experience.png');
}

//Amenities
.wifi_on  {
  background-image: url('tw/icon_wifi_yellow.png');
}

.park_on {
  background-image: url('tw/icon_parking_yellow.png');
}

.window_on {
  background-image: url('tw/icon_window_yellow.png');
}

.conf_on {
  background-image: url('tw/icon_phone_yellow.png');
}

.kitchen_on {
  background-image: url('tw/icon_kitchen_yellow.png');
}

 .printer_on {
   background-image: url('tw/icon_printer_yellow.png');
 }

.ac_on {
  background-image: url('tw/icon_ac_yellow.png');
}


.wifi_off  {
  background-image: url('tw/icon_wifi_gray.png');
}

.park_off {
  background-image: url('tw/icon_parking_gray.png');
}

.window_off {
  background-image: url('tw/icon_window_gray.png');
}

.conf_off {
  background-image: url('tw/icon_phone_gray.png');
}

.kitchen_off {
  background-image: url('tw/icon_kitchen_gray.png');
}

.printer_off {
  background-image: url('tw/icon_printer_gray.png');
}

.ac_off {
  background-image: url('tw/icon_ac_gray.png');
}

/*================================================== This is for the show listing page ========================*/

#galleria {
 height: 500px;
 //width: 600px;
  background: #000;
}

.listing-detail  .title {
  display:block;
}

.location-map .gmaps4rails_map {
  height: 400px;
}

paperPanel {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px #9e9e9e;
  -moz-box-shadow: 0 1px 4px #9e9e9e;
  box-shadow: 0 1px 4px #9e9e9e;
  padding-top: 20px;
  padding-bottom: 20px;
  zoom: 1;
}

.paperPanel3D {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 1px 4px #9e9e9e;
  -moz-box-shadow: 0 1px 4px #9e9e9e;
  box-shadow: 0 1px 4px #9e9e9e;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  zoom: 1;
}

/*==================================================
* Paper Panel Effect from http://www.paulund.co.uk/playground/demo/css_box_shadow/
* ===============================================*/

.paperPanel3D:before,
.paperPanel3D:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777777;
  -webkit-box-shadow: 0 15px 10px #777777;
  -moz-box-shadow: 0 15px 10px #777777;
  box-shadow: 0 15px 10px #777777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  zoom: 1;
}

.paperPanel3D:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
  zoom: 1;
}

.small-pad {
  padding-left:12px;
}


/*========================================== This is for the file upload  ========================*/

.span-attachinary-input {
  position: relative;
  overflow: hidden;
  width: 130px;
  margin-left: 0px;
}
.span-attachinary-input input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  background: url(../img/loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
}

.attachinary_container {
  margin-right: 10px;
}
.attachinary_container ul{ display: inline;}
.attachinary_container ul li{ display: inline-block;}
.attachinary_container img {display: block;} 

.side-container {
  padding-left:15px; 
  padding-right:15px;
}
side-container-fields {
  width:252px;
}
