// Place all the styles related to the Offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  padding-top:20px;
  padding-bottom: 20px;
  margin-right: -20px;
  background-color: #ffffff;
}

.panel-background-well, .well {
    background-color: #FAFAFA;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset, 0 0 0 #000000;
    padding: 0;
}   

.panel-border {
    -moz-box-sizing: border-box;
    border: 1px solid #baafa4;
    border-radius: 5px 5px 5px 5px;
}

.panel-header-gray {
    background-color: #E5E5E5;
    background-image: -moz-linear-gradient(center top , #F6F6F6 0%, #E5E5E5 100%);
    border-bottom: 1px solid #D0D0D0;
    border-top: 1px solid #D0D0D0;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2), 0 0 0 #000000;
    padding: 5px 15px;
}

.fitinblock {
  display: block;
}

.padtop {
    padding-top: 30px;
}

.padbottom {
  padding-bottom: 30px;
}

.control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
  font-weight: bold;
}

.controls {
    margin-left: 160px;
}

textarea {
    height: 80px;
    resize: none;
    width: 400px;
}

.submit-wrapper {
    padding: 15px 0 0;
}

.search_result {
    border-bottom: 1px solid #D8D8D8;
    padding: 10px 0;
    position: relative;
}

li {
    line-height: 18px;
}

a {
    color: #1D95CB;
    text-decoration: none;
}


#galleria{ width: 700px; background: #ff0; }

.gallery {

    
}
.officetitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 20px;
}

.officecost {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 20px;
}

text-right{
  text-align: right;
}

.officelocation {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.officereserve {
 -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  foreground-color: orange;
  background-color: white ;
  //float:none;
  // margin:0 auto;
}

// Icons
//:TODO fix using sprite

.officecenter {
}

.officeicon {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  margin-top: 1px;
}


.office {
  background-image: url('tw/icon_office.png');
}

.meeting {
  background-image: url('tw/icon_meetingroom.png');
}

.desk {
  background-image: url('tw/icon_desk.png');
}

.size {
  background-image: url('tw/icon_sqft.png');
}

.accomodates {
  background-image: url('tw/icon_accomodates.png');
}

.industry {
  background-image: url('tw/icon_profile_industry.png');
}

.experience {
  background-image: url('tw/icon_profile_experience.png');
}

//Amenities
.wifi_on  {
  background-image: url('tw/icon_wifi_yellow.png');
}

.park_on {
  background-image: url('tw/icon_parking_yellow.png');
}

.window_on {
  background-image: url('tw/icon_window_yellow.png');
}

.conf_on {
  background-image: url('tw/icon_phone_yellow.png');
}

.kitchen_on {
  background-image: url('tw/icon_kitchen_yellow.png');
}

 .printer_on {
   background-image: url('tw/icon_printer_yellow.png');
 }

.ac_on {
  background-image: url('tw/icon_ac_yellow.png');
}


.wifi_off  {
  background-image: url('tw/icon_wifi_gray.png');
}

.park_off {
  background-image: url('tw/icon_parking_gray.png');
}

.window_off {
  background-image: url('tw/icon_window_gray.png');
}

.conf_off {
  background-image: url('tw/icon_phone_gray.png');
}

.kitchen_off {
  background-image: url('tw/icon_kitchen_gray.png');
}

.printer_off {
  background-image: url('tw/icon_printer_gray.png');
}

.ac_off {
  background-image: url('tw/icon_ac_gray.png');
}