
/*============================This is like About, Reserve,  Posting confirm===========================*/

.contact_section ul li{
margin-bottom : 10px;
padding-bottom:10px;
border-bottom: 1px solid gray;
width: 270px;
}

.aboutus_heading {
  padding-top: 50px;
  padding-bottom: 20px;
}

.aboutus_footer {
  padding-top: 100px;
}

.reserve_thankyou h3 {
  padding-top:10px;
  padding-bottom:20px;
}


.reserve_thankyou_subheading {
  padding-top:10px;
  padding-bottom:10px;
  font: italic 20px "HelveticaNeue-Light" ;
}

.steps_reserve {
  padding-top:20px;
  padding-bottom:60px;
}

.steps_reserve div p {
  padding-top:20px;
}

.reserve_thankyou_footer {
  margin-top:40px;
}
