<p>Welcome <%= @email %>!</p>

<p>You can confirm your Intuit Spaces account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<script type="text/javascript">
    mixpanel.track("Viewed ConfirmAccount");
</script>