<%= @office.contact_name %>,

Thanks for using tradewinz to share your office!

We’ll notify you as soon as someone requests your office – and we’ll highlight the folks that seem to best match your listing criteria.

We’ll also send you a weekly report on how many people review your listing, so you can assess how much interest there is.

As part of our commitment to trust and privacy on the site, we will not release any contact information until you tell us that you’d like to communicate with the requestor.

Click <%= link_to 'View', office_url(@office) %> to see your listing,
  or <%= link_to "Edit", edit_office_url(@office) %> to update your listing
Cheers,
The tradewinz team

P.S. If you have any concerns or questions, please email us at <a href="mailto:tradewinz@intuit.com?subject=Feedback">tradewinz@intuit.com</a>