Hello <%= @current_user.name %>,

Thanks for using Intuit Spaces!
Your <%= link_to 'office space', office_url(@office) %> request has been sent.

What's next?
The person who listed the space will contact you to talk details, including any questions you may have.
Cheers,
The Intuit Spaces team

P.S. Questions or concerns about Intuit Spaces? Email us at <a href="mailto:spaces@intuit.com?subject=Inquiry">spaces@intuit.com</a>