<div class="panel-footer panel-border">

 <div class="row-fluid">
       <span class="pull-left">
      <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/exovvpc26etcptp/icon_phone_16x16.png" class="pull-left img-rounded">
        <b>&nbsp;Have Questions?</b> Call us at 1 (855) SPK-2-SPACES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </span>
    <span class="pull-left">
        <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/1ihs6zyiikeam9p/icon_email_16x16.png"
             class="pull-left img-rounded">
        <b>&nbsp;Send us a note at</b> <a href="mailto:spaces@intuit.com">spaces@intuit.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <span class="pull-left">
        <b>&nbsp; Follow us:</b>
        <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/ibhvzf2ae9ci7ar/icon_blog_29x16.png"
             class="pull-left img-rounded">
        <a href="/blog" target="_blank">Blog</a> |
        <a href="/about" target="_blank">About Us</a>
     </span>
    </div>
  </div>